/*Design from Figma Community & coded by Doug @bulldog.dev <3 */
/*Configuração básica inicial*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/*Inicio da estilização do corpodo site - Body*/
body {
    position: relative;
    background: linear-gradient(114.29deg, #0B1926 -15.11%, #020606 106.05%);

    justify-content: center;
    align-items: center;
}

/*Cabeçalho*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44.5rem;
    
    margin-left: 15.2rem;
    margin-right: 15.2rem;
    margin-top: 4.4rem;
    justify-content: space-between;
}

.logo {
    width: 17.4rem;
    height: 4.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2.4rem;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

ul {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    color: white;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

#firstButtonCall {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;

    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    gap: .8rem;

    background: #01F28D;
    box-shadow: 0px 7px 18px rgba(7, 39, 25, 0.4);
    border-radius: 4.3rem;
    cursor: pointer;
}

li:hover {
    color: #01F28D;
}

/*Estilização do Container*/
container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1Container {
    font-style: normal;
    font-weight: 900;
    font-size: 8.51rem;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #e8fff5;

    width: 109.5rem;

    margin-top: 14.7rem;
}

#h1Container span {
    color: #01F28D;
}

#pContainer {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 135%;
    text-align: center;
    color: #d1ffeb;

    width: 64.3rem;

    margin-top: 2.4rem;
}

#buttonContainer {
    margin-top: 4rem;
    padding: 1.8rem 3.6rem;
    background: #01F28D;
    box-shadow: 0 .80574rem 2.0719rem rgba(7, 39, 25, 0.4);
    border-radius: 4.14381rem;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;

    cursor: pointer;
}

#aContainer {
    margin-top: 2rem;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #D1FFEB;

    opacity: 0.8;

    text-decoration: none;
}


/*Estilização do Rodapé*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9.1rem;

    
    
    margin-left: 15.4rem;
    margin-right: 15.4rem;
    margin-top: 15.4rem;
    margin-bottom: 4.4rem;
}

.footBloquinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 31.14rem;
    height: 16.3rem;
}

.borderIconBloquinho {
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: .498rem;

    background: #003128;
    border-radius: 72px;
}

.h3FootBloquinho {
    font-style: normal;
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 4.7rem;
    
    margin-top: .4rem;


    color: #01F38D;
}

.pFootBloquinho {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #D1FFEB;

    opacity: 0.8;
}